header img {
    float: left;
}

#delicious {
    font-family: 'Yellowtail', cursive;
    color: black;
    
}
.bestfoodblog {
   margin-top:15%;
   font-family: 'Monda', sans-serif;
   color: grey;
}

#icons {
    float: right;
    margin-top: 5px;
}

#container {
    width: 900px;
    margin: 0px auto;
    height: 15px;
}

header {
    margin-bottom: 50px;
    text-align: left;
    float: bottom;
}

header image {
float: left;
}

.line {
    width: 100%;
    height: 10px;
    border: 40px;
    background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0), 1px,  rgba(0, 0, 0, 0.2) 2px );
  }

  h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;
    height: 12px;
  }

  h2 {
    font-weight: lighter;
    color: grey;
    font-family: 'Monda', sans-serif;
    font-size: 10px;

  }

  p {
    font-family: 'Lora', sans-serif;
    color: grey;
    font-weight: lighter;
  }

  #paper {
      background: url('images/paper.png');
      display: block;
      background-repeat: no-repeat;
  }

  #firstlist {
    width: 30%;
    padding: 10px; 
    padding-bottom: 80px;
    margin-left: 5%;
    float: left;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: saddlebrown;
    font-weight: lighter;
  }


  #secondlist {
      width: 70%;
      padding: 10px;
      margin-left: 40%;
      padding-bottom: 80px;
      position: absolute;
      float: right;
      height: 20px;
      font-family: 'Open Sans', sans-serif;
      color: saddlebrown;
      font-weight: lighter;
  }

#vanessa {
    color: black;
    margin-top: 200px;
    font-size: 20px;
    font-family: 'Asul', sans-serif;
    font-weight: bolder;
}

#blurb {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    margin-left: 75px;
    margin-right: 300px;
}

#logofooter {
    padding-top: 200px;
    align-content: center;
}

button {
    border: 2px;
    background-color: orange;
    text-decoration-color: white;
    margin-right: 5%;
    float: right;
}

  footer {
      padding-top: 200px;
      font-family: 'Open Sans', sans-serif;
      color: grey;
      padding-left: 15px;
      align-content: center;
      margin-left: 5%;
      margin-right: 60%;
      margin-bottom: 0%;
}